@font-face {
    font-family: Momcake;
    src: url(../assets/fonts/Momcake/MomcakeBold-WyonA.otf);
}

@font-face {
    font-family: MomcakeThin;
    src: url(../assets/fonts/Momcake/MomcakeThin-9Y6aZ.otf);
}

body {
    font-family: Momcake, sans-serif, Monospace;
    font-size: 1.5rem;
    background: #ff8353;
}

/* ================ TOP NAV AND IMAGE ================ */
.top_navigation {
    background: #ff8353;
    overflow: hidden;
}

.top_navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.mid_links {
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
}

.mid_links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    left: 50%;
}

.mid_links ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    right: 50%;
}

.mid_links ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

#onpage {
    text-decoration: underline;
    text-decoration-color: white;
}

/* ================ CONTACT INFO ================ */
.banner_contact_info {
    position: absolute;
    top: 27rem;
    left: 35rem;
    text-align: center;
}

.banner_contact_info ul {
    list-style-type: none; /* Remove bullets from list */
    display: inline-block; /* Helps display links horizontally */
    padding: 0;
    margin: 0;
}

.banner_contact_info li {
    float: left;
    color: white;
}

.banner_contact_info a {
    color: white;
    text-decoration: none;
}

.banner_contact_info a:hover {
    text-decoration: underline;
}

.banner_contact_info ul li {
    margin: 0 .5rem; /* Add spacing between list values */
}

/* ================ RESUME NAME ================ */

.banner_resume_intro {
    position: absolute;
    top: 9.5rem;
    left: 47rem;
    text-align: left;
}

.banner_resume_intro ul {
    list-style-type: none; /* Remove bullets from list */
    display: inline-block; /* Helps display links horizontally */
    padding: 0;
    margin: 0;
}

.banner_resume_intro li {
    color: white;
}

.banner_resume_intro #before_name {
    font-family: MomcakeThin, sans-serif;
    font-size: 3rem;
}

.banner_resume_intro #name {
    font-family: Momcake, sans-serif;
    font-size: 5rem;
    text-decoration: underline;
}

/* ================ RESUME BODY ================ */

.resume {
    margin: 5rem;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    text-align: center;
}

.resume ul {
    list-style-type: none;
}

.main_header {
    text-decoration: underline;
    color: white;
}

.uni_name {
    text-decoration: underline;
    color: white;
}

/* ================ BOOKS ================ */

.section_body {
    margin: 5rem;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    text-align: center;
}

/* ================ GOOGLE API ================ */
/* Set the size of the div element that contains the map */
#map {
    top: 5rem;
    height: 50rem;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
